@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
/* Start your base/mobile styles here */

* {
  box-sizing: border-box;
}

#container {
  height: 700px;
}

#container1 {
  height: 350px;
}

#container2 {
  height: 350px;
}

h1, h2, #text {
  max-width: 700px;
  margin: 0 auto;
  padding: 5px;
  display: block;
}

#text {
  font-family: 'Nunito Sans', sans-serif;
  opacity: 0.9;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  margin-top: 15px;
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
}

caption {
  font-size: 10px;
  font-style: italic;
}

#intro {
  background-color: #FC280F;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}

/* Tablet/Desktop overrides */

@media(min-width: 681px) {
  #container1 {
    height: 600px;
    width: 600px;
    margin-left: 50px;
  }
  #container2 {
    height: 600px;
    width: 600px;
    margin-left: 50px;
  }
}

/* Any adjustments for tablets and larger go here. Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */

@media(min-width: 800px) {
  #container1 {
    height: 600px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #container2 {
    height: 600px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #intro {
    max-width: 80%;
  }
  img {
    width: 80%;
  }
}

/* Any adjustments for desktop and larger go here. Note these styles will be applied to anything 729px or larger -- so desktop */